<h2>Getting the data</h2>

<h4>Zoopla API</h4>

In [182]:
%load_ext autoreload
%autoreload 2

import lib
import pandas as pd
import matplotlib.pyplot as plt
from pandas.io.json import json_normalize

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [229]:
# note API call is limited to 100 calls per hour
# all_results = []
call = lib.DataGetter()

In [154]:
result = call.getAllListings('London',99,100, False)
all_results += result

running API page 99 to 100
Error
http://api.zoopla.co.uk/api/v1/property_listings.json?area=London&radius=0&category=residential&listing_status=rent&include_rented=1&page_size=100&page_number=100&api_key=pn3zu33e9ympx94s485pfved

In [248]:
postcodes[52:]

['E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10', 'E11', 'E12', 'E13', 'E14']

In [249]:
for postcode in postcodes[52:]:
    result = call.getAllListings(postcode)
    all_results += result
    print(postcode)

Success
E4
Success
E5
Success
E6
Success
E7
Success
Success
Success
E8
Success
E9
Success
Success
E10
Success
Success
E11
Success
E12
Success
E13
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
E14

In [222]:
len(postcodes)

63

In [250]:
len(all_results)

50974

In [251]:
df = json_normalize(all_results)

In [253]:
df.listing_id.value_counts().head(20)

52821783    5
49312737    5
53740188    5
51221646    5
52727577    5
50145166    5
53190942    5
53420608    5
53848002    5
53269560    5
53343007    5
52059262    4
49358511    4
46477187    4
53703919    4
45995871    4
53812590    4
39589237    4
48514510    4
45181458    4
Name: listing_id, dtype: int64

In [254]:
print(df.shape)

(50974, 56)

In [131]:
df[df['listing_id']=='52624096']

,agent_address,agent_logo,agent_name,agent_phone,available_from_display,bills_included,category,country,country_code,county,...,price_modifier,property_type,rental_prices.accurate,rental_prices.per_month,rental_prices.per_week,rental_prices.shared_occupancy,short_description,status,street_name,thumbnail_url
688,"Bow Bridge Wharf, 1 High Street, London",https://st.zoocdn.com/zoopla_static_agent_logo...,Dockley's,020 8115 8380,NaN,NaN,Residential,England,gb,London,...,NaN,Terraced house,per_week,22750,5250,N,A stunning interior designed and beautifully r...,to_rent,Trevor Place,https://lid.zoocdn.com/80/60/c0506c70ca2e2af1a...
700,"Bow Bridge Wharf, 1 High Street, London",https://st.zoocdn.com/zoopla_static_agent_logo...,Dockley's,020 8115 8380,NaN,NaN,Residential,England,gb,London,...,NaN,Terraced house,per_week,22750,5250,N,A stunning interior designed and beautifully r...,to_rent,Trevor Place,https://lid.zoocdn.com/80/60/c0506c70ca2e2af1a...

In [255]:
df.to_csv('./data/london_rental_full.csv', index=False)

In [170]:
df.head().T

,0,1,2,3,4
agent_address,"43 Berkeley Square, Mayfair, London","25 North Row, Mayfair, London","43 Berkeley Square, Mayfair, London","43 Berkeley Square, Mayfair, London","2-4 Rufus Street, London"
agent_logo,https://st.zoocdn.com/zoopla_static_agent_logo...,https://st.zoocdn.com/zoopla_static_agent_logo...,https://st.zoocdn.com/zoopla_static_agent_logo...,https://st.zoocdn.com/zoopla_static_agent_logo...,https://st.zoocdn.com/zoopla_static_agent_logo...
agent_name,Oliver James,Knightsbridge Estate Agents,Oliver James,Oliver James,Plum Guide
agent_phone,020 8033 8929,020 3641 5638,020 8033 8929,020 8033 8929,020 8033 2372
available_from_display,Available immediately,NaN,NaN,NaN,Available immediately
bills_included,NaN,NaN,NaN,NaN,1
category,Residential,Residential,Residential,Residential,Residential
country,None,England,England,England,England
country_code,gb,gb,gb,gb,gb
county,None,London,London,London,London
description,DescriptionOliver James are proud to offer thi...,Stunning Newly Developed Top Floor Five Bedroo...,DescriptionOliver James are pleased to offer t...,DescriptionOliver James are pleased to offer a...,100% Ready For LivingFully furnished: Beds and...
details_url,https://www.zoopla.co.uk/to-rent/details/53306...,https://www.zoopla.co.uk/to-rent/details/48360...,https://www.zoopla.co.uk/to-rent/details/51520...,https://www.zoopla.co.uk/to-rent/details/49506...,https://www.zoopla.co.uk/to-rent/details/51221...
displayable_address,"Park Lane, Mayfair W1K","Park Lane, London W1K","Park Lane, London W1K","Hamilton Place, London W1J","Park Lane, London W1K"
first_published_date,2019-11-12 09:08:50,2016-04-20 12:52:25,2019-05-22 11:20:26,2018-10-29 15:15:44,2019-10-09 15:36:40
floor_area.max_floor_area.units,NaN,NaN,NaN,NaN,sq_feet
floor_area.max_floor_area.value,NaN,NaN,NaN,NaN,4305
floor_area.min_floor_area.units,NaN,NaN,NaN,NaN,sq_feet
floor_area.min_floor_area.value,NaN,NaN,NaN,NaN,4305
floor_plan,NaN,NaN,NaN,[https://lc.zoocdn.com/cd5b6eefe1615c36f097bfb...,[https://lc.zoocdn.com/3f018e47b7f299951b4a5b5...
furnished_state,furnished,furnished_or_unfurnished,furnished_or_unfurnished,furnished,furnished
image_150_113_url,https://lid.zoocdn.com/150/113/58b33aadc646705...,https://lid.zoocdn.com/150/113/85173b3165c7fe6...,https://lid.zoocdn.com/150/113/94b9b7c3c48acf8...,https://lid.zoocdn.com/150/113/8177fa5000072fd...,https://lid.zoocdn.com/150/113/212aa21f495a04f...
image_354_255_url,https://lid.zoocdn.com/354/255/58b33aadc646705...,https://lid.zoocdn.com/354/255/85173b3165c7fe6...,https://lid.zoocdn.com/354/255/94b9b7c3c48acf8...,https://lid.zoocdn.com/354/255/8177fa5000072fd...,https://lid.zoocdn.com/354/255/212aa21f495a04f...
image_50_38_url,https://lid.zoocdn.com/50/38/58b33aadc6467050c...,https://lid.zoocdn.com/50/38/85173b3165c7fe6f8...,https://lid.zoocdn.com/50/38/94b9b7c3c48acf84b...,https://lid.zoocdn.com/50/38/8177fa5000072fdd5...,https://lid.zoocdn.com/50/38/212aa21f495a04f60...
image_645_430_url,https://lid.zoocdn.com/645/430/58b33aadc646705...,https://lid.zoocdn.com/645/430/85173b3165c7fe6...,https://lid.zoocdn.com/645/430/94b9b7c3c48acf8...,https://lid.zoocdn.com/645/430/8177fa5000072fd...,https://lid.zoocdn.com/645/430/212aa21f495a04f...
image_80_60_url,https://lid.zoocdn.com/80/60/58b33aadc6467050c...,https://lid.zoocdn.com/80/60/85173b3165c7fe6f8...,https://lid.zoocdn.com/80/60/94b9b7c3c48acf84b...,https://lid.zoocdn.com/80/60/8177fa5000072fdd5...,https://lid.zoocdn.com/80/60/212aa21f495a04f60...
image_caption,,,,,
image_url,https://lid.zoocdn.com/354/255/58b33aadc646705...,https://lid.zoocdn.com/354/255/85173b3165c7fe6...,https://lid.zoocdn.com/354/255/94b9b7c3c48acf8...,https://lid.zoocdn.com/354/255/8177fa5000072fd...,https://lid.zoocdn.com/354/255/212aa21f495a04f...
last_published_date,2019-11-12 09:27:28,2019-10-25 23:35:57,2019-10-26 04:37:29,2019-10-26 04:37:31,2019-12-17 15:38:34
latitude,51.5064,51.5099,51.5099,51.504,51.5099
letting_fees,The asking rent does not include letting fees....,<u>Tenancy information</u><br><br><b>New Assur...,The asking rent does not include letting fees....,The asking rent does not include letting fees....,NaN
listing_id,53306241,48360832,51520635,49506442,51221896
listing_status,rent,rent,rent,rent,rent
location_is_approximate,0,0,0,0,0
longitude,-0.151575,-0.155079,-0.155079,-0.149741,-0.155079
num_bathrooms,2,5,4,1,4
num_bedrooms,2,5,4,2,4
num_floors,0,0,0,0,1
num_recepts,0,0,3,2,1
outcode,W1K,W1K,W1K,W1J,W1K
pets_allowed,NaN,NaN,NaN,NaN,NaN
post_town,None,London,London,London,London
price,0,65000,60000,60000,55617
price_change,"[{'direction': '', 'date': '2019-11-12 09:07:2...","[{'direction': '', 'date': '2016-04-20 11:50:0...","[{'direction': '', 'date': '2019-05-22 11:17:4...","[{'direction': '', 'date': '2018-10-29 15:13:3...","[{'direction': '', 'date': '2019-10-09 15:03:1..."
price_change_summary.direction,NaN,NaN,NaN,NaN,NaN
price_change_summary.last_updated_date,NaN,NaN,NaN,NaN,NaN
price_change_summary.percent,NaN,NaN,NaN,NaN,NaN
price_modifier,price_on_request,NaN,NaN,NaN,NaN
property_type,Flat,Flat,Flat,Flat,Flat
rental_prices.accurate,per_week,per_week,per_week,per_week,per_month
rental_prices.per_month,303333,281667,260000,260000,241009
rental_prices.per_week,70000,65000,60000,60000,55617
rental_prices.shared_occupancy,N,N,N,N,N
short_description,Oliver James are proud to offer this modern pe...,Stunning Newly Developed Top Floor Five Bedroo...,Ultra Luxurious Penthouse Situated In London's...,Oliver James are pleased to offer a specular p...,"<p class=""top""><strong>100% Ready For Living</..."
status,to_rent,to_rent,to_rent,to_rent,to_rent
street_name,Park Lane,Park Lane,Grosvenor House Apartments,Hamilton Place,Park Lane
thumbnail_url,https://lid.zoocdn.com/80/60/58b33aadc6467050c...,https://lid.zoocdn.com/80/60/85173b3165c7fe6f8...,https://lid.zoocdn.com/80/60/94b9b7c3c48acf84b...,https://lid.zoocdn.com/80/60/8177fa5000072fdd5...,https://lid.zoocdn.com/80/60/212aa21f495a04f60...